<div class="card" [ngStyle]="{'background-image': 'url(./assets/aston-martindb12-jpg.jpg)'}">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/aston-martindb12-jpg.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Kelvin Wekesa</h3>
      </div>

      <div class="text-center">&commat;kelvinwekesa</div>
      <div class="text-center">
      </div>
    </div>
  </div>
</div>